body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box{
    text-align: center;
}
.box select{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"],.box [type = "date"],.box [type = "number"],.box [type = "select"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "date"]:focus,.box input[type = "number"]:focus{
    width: 280px;
    border-color: #2ecc71;
    font-size: larger;
}

.box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s; 
    cursor: pointer;
}
.box input[type = "reset"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s; 
    cursor: pointer;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
}
.box input[type = "reset"]:hover{
    background: #2ecc71;
}
.box input[type='checkbox']{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #000000;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s; 
    cursor: pointer;
}
.box input[type = "checkbox"]:hover{
    background: #2ecc71;
}